// element ui样式重写
.el-button {
  span {
    font-size: 12px;
  }
}

.el-table {
  .el-table__header {
    .el-table__cell {
      color: #1c2028;
      background: #f2f3f5;
    }
  }
  .el-table__cell {
    border-right: none !important;
  }
  .el-table__body {
    .cell {
      font-size: 12px;
    }
  }
}

.el-overlay {
  .el-dialog__header,
  .el-message-box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 15px;
    margin-right: 0;
    background: #f6f7fc;
    border-bottom: 1px solid $split-line-color;
    border-radius: 3px;
    .el-dialog__title,
    .el-message-box__title {
      font-size: 15px;
      font-weight: bold;
      color: $primary-text-color;
    }
    .el-dialog__headerbtn {
      position: relative;
      width: auto;
      height: auto;
      top: 0;
    }
    .el-message-box__headerbtn {
      top: 12px;
    }
    .el-dialog__close,
    .el-message-box__close {
      font-size: 13px;
    }
  }
  .el-dialog__footer {
    padding: 10px 15px 10px 0;
    border-top: 1px solid #f1f1f1;
  }
  .el-drawer__header {
    color: #333;
    padding: 15px 20px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 0;
  }
}

.el-menu--vertical {
  .el-menu-item.is-active {
    color: #fff;
    background: linear-gradient(30deg, #4767d9, #5878e7, #5b7bea);
  }
}

.el-link {
  .el-link__inner {
    font-size: 12px;
  }
}

.el-breadcrumb {
  display: flex;
  align-items: center;
}

.date-picker {
  width: 100% !important;
  .el-input__wrapper {
    width: 100%;
  }
}
